*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.top-0 {
  top: 0px;
}

.z-50 {
  z-index: 50;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.m-0 {
  margin: 0px;
}

.m-\[2rem\] {
  margin: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-\[-5rem\] {
  margin-bottom: -5rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.ml-\[-10rem\] {
  margin-left: -10rem;
}

.ml-\[-11rem\] {
  margin-left: -11rem;
}

.ml-\[-8rem\] {
  margin-left: -8rem;
}

.ml-\[0\.5rem\] {
  margin-left: 0.5rem;
}

.ml-\[1\.5rem\] {
  margin-left: 1.5rem;
}

.ml-\[1\.875rem\] {
  margin-left: 1.875rem;
}

.ml-\[1rem\] {
  margin-left: 1rem;
}

.ml-\[2\.2rem\] {
  margin-left: 2.2rem;
}

.ml-\[2\.5rem\] {
  margin-left: 2.5rem;
}

.ml-\[2rem\] {
  margin-left: 2rem;
}

.ml-\[3rem\] {
  margin-left: 3rem;
}

.ml-\[4rem\] {
  margin-left: 4rem;
}

.ml-\[5\.5rem\] {
  margin-left: 5.5rem;
}

.ml-\[6\.25rem\] {
  margin-left: 6.25rem;
}

.ml-\[6rem\] {
  margin-left: 6rem;
}

.ml-\[8rem\] {
  margin-left: 8rem;
}

.ml-\[9\.5rem\] {
  margin-left: 9.5rem;
}

.mr-\[0\.2rem\] {
  margin-right: 0.2rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-\[0\.3rem\] {
  margin-top: 0.3rem;
}

.mt-\[0\.5rem\] {
  margin-top: 0.5rem;
}

.mt-\[1\.8125rem\] {
  margin-top: 1.8125rem;
}

.mt-\[10\.25rem\] {
  margin-top: 10.25rem;
}

.mt-\[11rem\] {
  margin-top: 11rem;
}

.mt-\[13\.2rem\] {
  margin-top: 13.2rem;
}

.mt-\[13\.375rem\] {
  margin-top: 13.375rem;
}

.mt-\[13\.625rem\] {
  margin-top: 13.625rem;
}

.mt-\[13\.6875rem\] {
  margin-top: 13.6875rem;
}

.mt-\[13rem\] {
  margin-top: 13rem;
}

.mt-\[14\.375rem\] {
  margin-top: 14.375rem;
}

.mt-\[14\.5rem\] {
  margin-top: 14.5rem;
}

.mt-\[14\.6rem\] {
  margin-top: 14.6rem;
}

.mt-\[15\.875rem\] {
  margin-top: 15.875rem;
}

.mt-\[16rem\] {
  margin-top: 16rem;
}

.mt-\[18rem\] {
  margin-top: 18rem;
}

.mt-\[19\.5rem\] {
  margin-top: 19.5rem;
}

.mt-\[19\.8rem\] {
  margin-top: 19.8rem;
}

.mt-\[19rem\] {
  margin-top: 19rem;
}

.mt-\[1rem\] {
  margin-top: 1rem;
}

.mt-\[2\.5rem\] {
  margin-top: 2.5rem;
}

.mt-\[20rem\] {
  margin-top: 20rem;
}

.mt-\[21rem\] {
  margin-top: 21rem;
}

.mt-\[22\.625rem\] {
  margin-top: 22.625rem;
}

.mt-\[22rem\] {
  margin-top: 22rem;
}

.mt-\[23rem\] {
  margin-top: 23rem;
}

.mt-\[24rem\] {
  margin-top: 24rem;
}

.mt-\[25rem\] {
  margin-top: 25rem;
}

.mt-\[27\.875rem\] {
  margin-top: 27.875rem;
}

.mt-\[2rem\] {
  margin-top: 2rem;
}

.mt-\[30rem\] {
  margin-top: 30rem;
}

.mt-\[33rem\] {
  margin-top: 33rem;
}

.mt-\[34rem\] {
  margin-top: 34rem;
}

.mt-\[3rem\] {
  margin-top: 3rem;
}

.mt-\[4\.375rem\] {
  margin-top: 4.375rem;
}

.mt-\[41rem\] {
  margin-top: 41rem;
}

.mt-\[46rem\] {
  margin-top: 46rem;
}

.mt-\[4rem\] {
  margin-top: 4rem;
}

.mt-\[5\.8125rem\] {
  margin-top: 5.8125rem;
}

.mt-\[51rem\] {
  margin-top: 51rem;
}

.mt-\[5rem\] {
  margin-top: 5rem;
}

.mt-\[6\.625rem\] {
  margin-top: 6.625rem;
}

.mt-\[6\.6825rem\] {
  margin-top: 6.6825rem;
}

.mt-\[6\.8125rem\] {
  margin-top: 6.8125rem;
}

.mt-\[6rem\] {
  margin-top: 6rem;
}

.mt-\[7\.5rem\] {
  margin-top: 7.5rem;
}

.mt-\[7\.75rem\] {
  margin-top: 7.75rem;
}

.mt-\[7rem\] {
  margin-top: 7rem;
}

.mt-\[8\.3125rem\] {
  margin-top: 8.3125rem;
}

.mt-\[8\.625rem\] {
  margin-top: 8.625rem;
}

.mt-\[84rem\] {
  margin-top: 84rem;
}

.mt-\[8rem\] {
  margin-top: 8rem;
}

.mt-\[9\.3125rem\] {
  margin-top: 9.3125rem;
}

.mt-\[9\.8125rem\] {
  margin-top: 9.8125rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-3 {
  height: 0.75rem;
}

.h-6 {
  height: 1.5rem;
}

.h-60 {
  height: 15rem;
}

.h-7 {
  height: 1.75rem;
}

.h-\[1\.3125rem\] {
  height: 1.3125rem;
}

.h-\[1\.4375rem\] {
  height: 1.4375rem;
}

.h-\[1\.5rem\] {
  height: 1.5rem;
}

.h-\[1\.875rem\] {
  height: 1.875rem;
}

.h-\[1\.9375rem\] {
  height: 1.9375rem;
}

.h-\[10\.5rem\] {
  height: 10.5rem;
}

.h-\[10\.625rem\] {
  height: 10.625rem;
}

.h-\[108rem\] {
  height: 108rem;
}

.h-\[10rem\] {
  height: 10rem;
}

.h-\[11\.4375rem\] {
  height: 11.4375rem;
}

.h-\[11\.43rem\] {
  height: 11.43rem;
}

.h-\[115rem\] {
  height: 115rem;
}

.h-\[130rem\] {
  height: 130rem;
}

.h-\[13rem\] {
  height: 13rem;
}

.h-\[155rem\] {
  height: 155rem;
}

.h-\[15rem\] {
  height: 15rem;
}

.h-\[160rem\] {
  height: 160rem;
}

.h-\[167rem\] {
  height: 167rem;
}

.h-\[2\.375rem\] {
  height: 2.375rem;
}

.h-\[2\.5625rem\] {
  height: 2.5625rem;
}

.h-\[2\.5rem\] {
  height: 2.5rem;
}

.h-\[2\.9375rem\] {
  height: 2.9375rem;
}

.h-\[20\.3125rem\] {
  height: 20.3125rem;
}

.h-\[20rem\] {
  height: 20rem;
}

.h-\[23\.5875rem\] {
  height: 23.5875rem;
}

.h-\[240rem\] {
  height: 240rem;
}

.h-\[245rem\] {
  height: 245rem;
}

.h-\[25rem\] {
  height: 25rem;
}

.h-\[276rem\] {
  height: 276rem;
}

.h-\[28\.375rem\] {
  height: 28.375rem;
}

.h-\[2rem\] {
  height: 2rem;
}

.h-\[3\.125rem\] {
  height: 3.125rem;
}

.h-\[3\.75rem\] {
  height: 3.75rem;
}

.h-\[3\.9375rem\] {
  height: 3.9375rem;
}

.h-\[30\.25rem\] {
  height: 30.25rem;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[35rem\] {
  height: 35rem;
}

.h-\[39\.3rem\] {
  height: 39.3rem;
}

.h-\[40\.25rem\] {
  height: 40.25rem;
}

.h-\[42\.5rem\] {
  height: 42.5rem;
}

.h-\[47rem\] {
  height: 47rem;
}

.h-\[50rem\] {
  height: 50rem;
}

.h-\[55rem\] {
  height: 55rem;
}

.h-\[5rem\] {
  height: 5rem;
}

.h-\[62rem\] {
  height: 62rem;
}

.h-\[63\.5rem\] {
  height: 63.5rem;
}

.h-\[68rem\] {
  height: 68rem;
}

.h-\[6rem\] {
  height: 6rem;
}

.h-\[7\.625\] {
  height: 7.625;
}

.h-\[72rem\] {
  height: 72rem;
}

.h-\[75rem\] {
  height: 75rem;
}

.h-\[7rem\] {
  height: 7rem;
}

.h-\[90rem\] {
  height: 90rem;
}

.h-\[98rem\] {
  height: 98rem;
}

.h-full {
  height: 100%;
}

.min-h-full {
  min-height: 100%;
}

.w-3 {
  width: 0.75rem;
}

.w-48 {
  width: 12rem;
}

.w-6 {
  width: 1.5rem;
}

.w-64 {
  width: 16rem;
}

.w-8 {
  width: 2rem;
}

.w-\[1\.5rem\] {
  width: 1.5rem;
}

.w-\[12rem\] {
  width: 12rem;
}

.w-\[14\.0625rem\] {
  width: 14.0625rem;
}

.w-\[16\.875rem\] {
  width: 16.875rem;
}

.w-\[17\.3rem\] {
  width: 17.3rem;
}

.w-\[17rem\] {
  width: 17rem;
}

.w-\[18\.5rem\] {
  width: 18.5rem;
}

.w-\[19\.5625rem\] {
  width: 19.5625rem;
}

.w-\[19rem\] {
  width: 19rem;
}

.w-\[20\.5rem\] {
  width: 20.5rem;
}

.w-\[20rem\] {
  width: 20rem;
}

.w-\[21\.5rem\] {
  width: 21.5rem;
}

.w-\[22rem\] {
  width: 22rem;
}

.w-\[23rem\] {
  width: 23rem;
}

.w-\[29\.375rem\] {
  width: 29.375rem;
}

.w-\[3\.125rem\] {
  width: 3.125rem;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[35\.875rem\] {
  width: 35.875rem;
}

.w-\[3rem\] {
  width: 3rem;
}

.w-\[40\.625rem\] {
  width: 40.625rem;
}

.w-\[4rem\] {
  width: 4rem;
}

.w-\[9\.625rem\] {
  width: 9.625rem;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.columns-1 {
  -moz-columns: 1;
       columns: 1;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.content-center {
  align-content: center;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-items-center {
  justify-items: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[27rem\] {
  gap: 27rem;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-wrap {
  text-wrap: wrap;
}

.text-balance {
  text-wrap: balance;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-solid {
  border-style: solid;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-color-1 {
  --tw-border-opacity: 1;
  border-color: rgb(158 158 158 / var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(255 116 37 / var(--tw-border-opacity));
}

.bg-black\/80 {
  background-color: rgb(0 0 0 / 0.8);
}

.bg-color-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(158 158 158 / var(--tw-bg-opacity));
}

.bg-color-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 24 / var(--tw-bg-opacity));
}

.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(251 251 251 / var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 116 37 / var(--tw-bg-opacity));
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(42 42 42 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-center {
  background-position: center;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.p-5 {
  padding: 1.25rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-\[8rem\] {
  padding-bottom: 8rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-\[0\.5rem\] {
  padding-top: 0.5rem;
}

.pt-\[1rem\] {
  padding-top: 1rem;
}

.pt-\[22\.625rem\] {
  padding-top: 22.625rem;
}

.pt-\[2rem\] {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-middle {
  vertical-align: middle;
}

.font-h2 {
  font-family: Syne;
}

.font-p {
  font-family: 'DM Sans';
}

.text-31xl {
  font-size: 3.125rem;
}

.text-32xl {
  font-size: 3rem;
}

.text-3xl {
  font-size: 1.375rem;
}

.text-\[0\.95rem\] {
  font-size: 0.95rem;
}

.text-\[1\.0625rem\] {
  font-size: 1.0625rem;
}

.text-\[1\.125rem\] {
  font-size: 1.125rem;
}

.text-\[1\.1rem\] {
  font-size: 1.1rem;
}

.text-\[1\.2rem\] {
  font-size: 1.2rem;
}

.text-\[1\.5rem\] {
  font-size: 1.5rem;
}

.text-\[1\.875rem\] {
  font-size: 1.875rem;
}

.text-\[1\.9rem\] {
  font-size: 1.9rem;
}

.text-\[1rem\] {
  font-size: 1rem;
}

.text-\[2\.5rem\] {
  font-size: 2.5rem;
}

.text-\[3\.125rem\] {
  font-size: 3.125rem;
}

.text-\[3\.4rem\] {
  font-size: 3.4rem;
}

.text-\[3rem\] {
  font-size: 3rem;
}

.text-\[4rem\] {
  font-size: 4rem;
}

.text-\[5rem\] {
  font-size: 5rem;
}

.font-bold {
  font-weight: 700;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.tracking-\[0\.1em\] {
  letter-spacing: 0.1em;
}

.text-color-1 {
  --tw-text-opacity: 1;
  color: rgb(158 158 158 / var(--tw-text-opacity));
}

.text-color-2 {
  --tw-text-opacity: 1;
  color: rgb(24 24 24 / var(--tw-text-opacity));
}

.text-light {
  --tw-text-opacity: 1;
  color: rgb(251 251 251 / var(--tw-text-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(255 116 37 / var(--tw-text-opacity));
}

.text-slate-200 {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.no-underline {
  text-decoration-line: none;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-black\/40 {
  --tw-shadow-color: rgb(0 0 0 / 0.4);
  --tw-shadow: var(--tw-shadow-colored);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.\[backface-visibility\:hidden\] {
  backface-visibility: hidden;
}

.\[perspective\:1000px\] {
  perspective: 1000px;
}

.\[transform-style\:preserve-3d\] {
  transform-style: preserve-3d;
}

.\[transform\:rotateY\(180deg\)\] {
  transform: rotateY(180deg);
}

body {
  margin: 0px;
  line-height: normal;
}

*,
::before,
::after {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.hover\:animate-ping:hover {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 116 37 / var(--tw-bg-opacity));
}

.hover\:bg-transparent:hover {
  background-color: transparent;
}

.hover\:text-light:hover {
  --tw-text-opacity: 1;
  color: rgb(251 251 251 / var(--tw-text-opacity));
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(255 116 37 / var(--tw-text-opacity));
}

.group:hover .group-hover\:\[transform\:rotateY\(180deg\)\] {
  transform: rotateY(180deg);
}

@media (min-width: 640px) {
  .sm\:columns-1 {
    -moz-columns: 1;
         columns: 1;
  }
}

@media (min-width: 768px) {
  .md\:ml-0 {
    margin-left: 0px;
  }

  .md\:ml-\[0rem\] {
    margin-left: 0rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-3 {
    margin-top: 0.75rem;
  }

  .md\:mt-\[19rem\] {
    margin-top: 19rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-6 {
    height: 1.5rem;
  }

  .md\:h-\[50\.25rem\] {
    height: 50.25rem;
  }

  .md\:w-6 {
    width: 1.5rem;
  }

  .md\:w-\[42rem\] {
    width: 42rem;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-screen {
    width: 100vw;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:bg-cover {
    background-size: cover;
  }

  .md\:p-10 {
    padding: 2.5rem;
  }

  .md\:pb-0 {
    padding-bottom: 0px;
  }

  .md\:pb-\[8rem\] {
    padding-bottom: 8rem;
  }

  .md\:pl-\[5rem\] {
    padding-left: 5rem;
  }

  .md\:text-\[3\.4rem\] {
    font-size: 3.4rem;
  }

  .md\:text-\[8rem\] {
    font-size: 8rem;
  }
}

@media (min-width: 1024px) {
  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:ml-1 {
    margin-left: 0.25rem;
  }

  .lg\:ml-\[-12rem\] {
    margin-left: -12rem;
  }

  .lg\:ml-\[-1rem\] {
    margin-left: -1rem;
  }

  .lg\:ml-\[-22rem\] {
    margin-left: -22rem;
  }

  .lg\:ml-\[-2rem\] {
    margin-left: -2rem;
  }

  .lg\:ml-\[-33rem\] {
    margin-left: -33rem;
  }

  .lg\:ml-\[-36rem\] {
    margin-left: -36rem;
  }

  .lg\:ml-\[-38rem\] {
    margin-left: -38rem;
  }

  .lg\:ml-\[-3rem\] {
    margin-left: -3rem;
  }

  .lg\:ml-\[-42rem\] {
    margin-left: -42rem;
  }

  .lg\:ml-\[-4rem\] {
    margin-left: -4rem;
  }

  .lg\:ml-\[-55rem\] {
    margin-left: -55rem;
  }

  .lg\:ml-\[-5rem\] {
    margin-left: -5rem;
  }

  .lg\:ml-\[-60rem\] {
    margin-left: -60rem;
  }

  .lg\:ml-\[-62rem\] {
    margin-left: -62rem;
  }

  .lg\:ml-\[-6rem\] {
    margin-left: -6rem;
  }

  .lg\:ml-\[2rem\] {
    margin-left: 2rem;
  }

  .lg\:ml-\[3\.125rem\] {
    margin-left: 3.125rem;
  }

  .lg\:ml-\[35rem\] {
    margin-left: 35rem;
  }

  .lg\:ml-\[39rem\] {
    margin-left: 39rem;
  }

  .lg\:ml-\[43rem\] {
    margin-left: 43rem;
  }

  .lg\:ml-\[5\.125rem\] {
    margin-left: 5.125rem;
  }

  .lg\:ml-\[51rem\] {
    margin-left: 51rem;
  }

  .lg\:ml-\[6\.5rem\] {
    margin-left: 6.5rem;
  }

  .lg\:ml-\[9rem\] {
    margin-left: 9rem;
  }

  .lg\:mr-0 {
    margin-right: 0px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-3 {
    margin-top: 0.75rem;
  }

  .lg\:mt-5 {
    margin-top: 1.25rem;
  }

  .lg\:mt-\[-0\.5rem\] {
    margin-top: -0.5rem;
  }

  .lg\:mt-\[1\.4rem\] {
    margin-top: 1.4rem;
  }

  .lg\:mt-\[10\.375rem\] {
    margin-top: 10.375rem;
  }

  .lg\:mt-\[10rem\] {
    margin-top: 10rem;
  }

  .lg\:mt-\[13\.125rem\] {
    margin-top: 13.125rem;
  }

  .lg\:mt-\[14\.375rem\] {
    margin-top: 14.375rem;
  }

  .lg\:mt-\[14\.5rem\] {
    margin-top: 14.5rem;
  }

  .lg\:mt-\[14rem\] {
    margin-top: 14rem;
  }

  .lg\:mt-\[15\.5rem\] {
    margin-top: 15.5rem;
  }

  .lg\:mt-\[17\.5rem\] {
    margin-top: 17.5rem;
  }

  .lg\:mt-\[18\.125rem\] {
    margin-top: 18.125rem;
  }

  .lg\:mt-\[18\.375rem\] {
    margin-top: 18.375rem;
  }

  .lg\:mt-\[18rem\] {
    margin-top: 18rem;
  }

  .lg\:mt-\[19\.6875rem\] {
    margin-top: 19.6875rem;
  }

  .lg\:mt-\[19rem\] {
    margin-top: 19rem;
  }

  .lg\:mt-\[1rem\] {
    margin-top: 1rem;
  }

  .lg\:mt-\[2\.375rem\] {
    margin-top: 2.375rem;
  }

  .lg\:mt-\[20\.375rem\] {
    margin-top: 20.375rem;
  }

  .lg\:mt-\[20rem\] {
    margin-top: 20rem;
  }

  .lg\:mt-\[21\.6875rem\] {
    margin-top: 21.6875rem;
  }

  .lg\:mt-\[22rem\] {
    margin-top: 22rem;
  }

  .lg\:mt-\[23\.875rem\] {
    margin-top: 23.875rem;
  }

  .lg\:mt-\[23rem\] {
    margin-top: 23rem;
  }

  .lg\:mt-\[26\.18rem\] {
    margin-top: 26.18rem;
  }

  .lg\:mt-\[27\.18rem\] {
    margin-top: 27.18rem;
  }

  .lg\:mt-\[28rem\] {
    margin-top: 28rem;
  }

  .lg\:mt-\[31rem\] {
    margin-top: 31rem;
  }

  .lg\:mt-\[33rem\] {
    margin-top: 33rem;
  }

  .lg\:mt-\[3rem\] {
    margin-top: 3rem;
  }

  .lg\:mt-\[47\.5rem\] {
    margin-top: 47.5rem;
  }

  .lg\:mt-\[5\.5625rem\] {
    margin-top: 5.5625rem;
  }

  .lg\:mt-\[6\.8125rem\] {
    margin-top: 6.8125rem;
  }

  .lg\:mt-\[6rem\] {
    margin-top: 6rem;
  }

  .lg\:mt-\[7\.375rem\] {
    margin-top: 7.375rem;
  }

  .lg\:mt-\[7\.6rem\] {
    margin-top: 7.6rem;
  }

  .lg\:mt-\[7\.9375rem\] {
    margin-top: 7.9375rem;
  }

  .lg\:mt-\[76\.875rem\] {
    margin-top: 76.875rem;
  }

  .lg\:mt-\[7rem\] {
    margin-top: 7rem;
  }

  .lg\:mt-\[8\.25rem\] {
    margin-top: 8.25rem;
  }

  .lg\:mt-\[8rem\] {
    margin-top: 8rem;
  }

  .lg\:mt-\[9\.3125rem\] {
    margin-top: 9.3125rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[1\.5625rem\] {
    height: 1.5625rem;
  }

  .lg\:h-\[10\.5rem\] {
    height: 10.5rem;
  }

  .lg\:h-\[103\.875rem\] {
    height: 103.875rem;
  }

  .lg\:h-\[107\.81rem\] {
    height: 107.81rem;
  }

  .lg\:h-\[10rem\] {
    height: 10rem;
  }

  .lg\:h-\[11\.438rem\] {
    height: 11.438rem;
  }

  .lg\:h-\[11\.688rem\] {
    height: 11.688rem;
  }

  .lg\:h-\[11rem\] {
    height: 11rem;
  }

  .lg\:h-\[135rem\] {
    height: 135rem;
  }

  .lg\:h-\[14\.9375rem\] {
    height: 14.9375rem;
  }

  .lg\:h-\[18\.0625rem\] {
    height: 18.0625rem;
  }

  .lg\:h-\[2\.5625rem\] {
    height: 2.5625rem;
  }

  .lg\:h-\[20\.375rem\] {
    height: 20.375rem;
  }

  .lg\:h-\[22\.8125rem\] {
    height: 22.8125rem;
  }

  .lg\:h-\[220\.25rem\] {
    height: 220.25rem;
  }

  .lg\:h-\[23\.5875rem\] {
    height: 23.5875rem;
  }

  .lg\:h-\[23\.58rem\] {
    height: 23.58rem;
  }

  .lg\:h-\[29\.25rem\] {
    height: 29.25rem;
  }

  .lg\:h-\[33\.9375rem\] {
    height: 33.9375rem;
  }

  .lg\:h-\[377\.28px\] {
    height: 377.28px;
  }

  .lg\:h-\[38\.875rem\] {
    height: 38.875rem;
  }

  .lg\:h-\[40\.25rem\] {
    height: 40.25rem;
  }

  .lg\:h-\[42\.625rem\] {
    height: 42.625rem;
  }

  .lg\:h-\[47\.125rem\] {
    height: 47.125rem;
  }

  .lg\:h-\[57\.875rem\] {
    height: 57.875rem;
  }

  .lg\:h-\[58\.4375rem\] {
    height: 58.4375rem;
  }

  .lg\:h-\[60rem\] {
    height: 60rem;
  }

  .lg\:h-\[62rem\] {
    height: 62rem;
  }

  .lg\:h-\[63\.25rem\] {
    height: 63.25rem;
  }

  .lg\:h-\[69rem\] {
    height: 69rem;
  }

  .lg\:h-\[73rem\] {
    height: 73rem;
  }

  .lg\:h-\[74rem\] {
    height: 74rem;
  }

  .lg\:w-\[16\.875rem\] {
    width: 16.875rem;
  }

  .lg\:w-\[19\.5625rem\] {
    width: 19.5625rem;
  }

  .lg\:w-\[23rem\] {
    width: 23rem;
  }

  .lg\:w-\[29\.375rem\] {
    width: 29.375rem;
  }

  .lg\:w-\[30rem\] {
    width: 30rem;
  }

  .lg\:w-\[31\.25rem\] {
    width: 31.25rem;
  }

  .lg\:w-\[32rem\] {
    width: 32rem;
  }

  .lg\:w-\[33\.2rem\] {
    width: 33.2rem;
  }

  .lg\:w-\[33\.625rem\] {
    width: 33.625rem;
  }

  .lg\:w-\[40rem\] {
    width: 40rem;
  }

  .lg\:w-\[41\.875rem\] {
    width: 41.875rem;
  }

  .lg\:w-\[48\.125rem\] {
    width: 48.125rem;
  }

  .lg\:w-\[50\.25rem\] {
    width: 50.25rem;
  }

  .lg\:w-\[54\.875rem\] {
    width: 54.875rem;
  }

  .lg\:w-\[65\.125rem\] {
    width: 65.125rem;
  }

  .lg\:w-\[65\.625rem\] {
    width: 65.625rem;
  }

  .lg\:w-\[66\.825rem\] {
    width: 66.825rem;
  }

  .lg\:w-\[670px\] {
    width: 670px;
  }

  .lg\:w-\[67rem\] {
    width: 67rem;
  }

  .lg\:w-\[70\.5rem\] {
    width: 70.5rem;
  }

  .lg\:w-\[70rem\] {
    width: 70rem;
  }

  .lg\:w-\[71\.375rem\] {
    width: 71.375rem;
  }

  .lg\:w-\[73\.125rem\] {
    width: 73.125rem;
  }

  .lg\:w-\[80rem\] {
    width: 80rem;
  }

  .lg\:w-screen {
    width: 100vw;
  }

  .lg\:-rotate-90 {
    --tw-rotate: -90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:columns-1 {
    -moz-columns: 1;
         columns: 1;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:justify-items-center {
    justify-items: center;
  }

  .lg\:gap-1 {
    gap: 0.25rem;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }

  .lg\:gap-20 {
    gap: 5rem;
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-5 {
    gap: 1.25rem;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-9 {
    gap: 2.25rem;
  }

  .lg\:bg-cover {
    background-size: cover;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pl-0 {
    padding-left: 0px;
  }

  .lg\:pt-10 {
    padding-top: 2.5rem;
  }

  .lg\:text-\[1\.063rem\] {
    font-size: 1.063rem;
  }

  .lg\:text-\[3\.125rem\] {
    font-size: 3.125rem;
  }

  .lg\:text-\[5rem\] {
    font-size: 5rem;
  }

  .lg\:ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

@media (min-width: 1280px) {
  .xl\:mt-\[8rem\] {
    margin-top: 8rem;
  }

  .xl\:h-\[80rem\] {
    height: 80rem;
  }

  .xl\:w-\[80rem\] {
    width: 80rem;
  }

  .xl\:columns-2 {
    -moz-columns: 2;
         columns: 2;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:gap-5 {
    gap: 1.25rem;
  }

  .xl\:pt-0 {
    padding-top: 0px;
  }
}

.\[\&\>img\:not\(\:first-child\)\]\:mt-5>img:not(:first-child) {
  margin-top: 1.25rem;
}

@media (min-width: 1024px) {
  .lg\:\[\&\>img\:novt\(\:first-child\)\]\:mt-8>img:novt(:first-child) {
    margin-top: 2rem;
  }
}
